{
    "version": 2,
    "configurePresets": [
      {
        "name": "vcpkg",
        "generator": "Ninja",
        "binaryDir": "./build",
        "cacheVariables": {
          "CMAKE_TOOLCHAIN_FILE": "/scripts/buildsystems/vcpkg.cmake"
        }
      }
    ]
  }